body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
}
body * {
  outline: 1px solid green;
}
a {
  text-decoration: none;
}
.img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border: none;
  text-transform: uppercase;
}
.red-button {
  padding: 10px;
  border-radius: 3px;
}
.red-button:hover,
.red-button-focus {
  background-color: #ca2c37;
}
.red-button:active {
  background-color: #ba2732;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  padding-bottom: 60px;
  margin-bottom: 59px;
  background-color: #f2f6f8;
}
.inner-header {
  margin-bottom: 0px;
}
.header-top {
  width: 100%;
  margin-bottom: 46px;
  background-color: #293449;
  color: #ffffff;
}
.header-top .container {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  display: block;
  padding: 9px 55px;
  padding-top: 11px;
  padding-bottom: 7px;
  margin: 0px;
  font-size: 24px;
  line-height:24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}
.logo:hover,
.logo:focus {
  box-shadow: 0 5px #9a212a;
}
.logo:active {
  box-shadow: 0 5px #8e1e26;
}
.manage {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-form {
  position: relative;
  padding: 0;
  margin: 0;
}
.search-form:hover {
  background-color: #212a3a;
}
.search-form:active {
  background-color: #ffffff;
}
.search-form input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 48px;
  padding-right: 10px;
  height: 42px;
  width: 270px;
  background-color: #293449;
  border: none;
  font: inherit;
  color: #ffffff;
}
.search-form input::placeholder {
  color: #ffffff;
  opacity: 1;
}
.search-form input:hover {
  background-color: #212a3a;
}
.search-form input:focus{
  background-color: #ffffff;
  color: #000000;
}
.search-form label {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}
input.search:hover~label {
  opacity: 1;
}
input.search:focus~label {
  opacity: 1;
}
input.search:focus~label path {
  fill: #ee3643;
}
.manage a {
  display: block;
  padding: 12px 33px;
  padding-left: 44px;

  color: #ffffff;
  background-color: #293449;
  position: relative;
}
a.manage-bookmark::before,
a.manage-basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  opacity: 0.3;
}
a.manage-bookmark::before {
  background-image: url("../img/icon-bookmark.svg");
}
a.manage-basket::before {
  background-image: url("../img/icon-cart.svg");
  left: 13px;
}
a.manage-bookmark:hover::before,
a.manage-bookmark:focus::before,
a.manage-basket:hover::before,
a.manage-basket:focus::before{
  opacity: 1;
}
a.manage-bookmark:active::before,
a.manage-basket:active::before {
  opacity: 0.5;
}
.manage a:hover,
.manage a:focus {
  background-color: #212a3a;
}
.manage a:active {
  background-color: #161d29;
}
.full{
  background-color: #ee3643;
}
a.button-order {
  padding-left: 18px;
  padding-right: 22px;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: none;
}
a.button-order:hover,
a.button-order:focus {
  background-color: #5fbb2d;
}
a.button-order:active {
  background-color: #518534;
}
.header-bottom .container{
  display: flex;
  flex-wrap: wrap;
}
.header-description {
  margin: 0;
  padding-top: 3px;
  padding-left: 52px;
  padding-right: 48px;
  padding-bottom: 42px;
  margin-right: 20px;
  text-align: left;
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.header-contacts-wrapper {
  margin-right: auto;
}
.phone {
  width: 270px;
  position: relative;
  margin: 0;
  padding: 10px 70px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
}
.address {
  width: 252px;
  margin: 0;
  padding: 9px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-navigation {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.user-navigation a {
  margin: 0;
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 11px 25px;
  padding-top: 12px;
  padding-bottom: 10px;
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}
.user-navigation .enter {
  margin-left: 19px;
  margin-right: 10px;
  padding-left: 47px;
  padding-right: 23px;
}
.enter::before {
  content: "";

  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;

  background: url("../img/icon-login.svg");
}
.user-navigation .user-name {
  width: 300px;
  padding-left: 46px;
  padding-right: 68px;
}
.user-navigation .user-name:hover,
.user-navigation .user-name:focus {
  color: #000000;
}
.user-navigation a:active,
.user-navigation .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-navigation .user-subnavigation {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}
.user-navigation .user-subnavigation:hover,
.user-navigation .user-subnavigation:focus {
  color: #ee3643;
}
.user-navigation .user-subnavigation:active {
  color: rgba(50, 66, 92, 0.3)
}
.site-navigation {
  width: 100%;
  background-color: #32425c;
}
.site-navigation-list {
  margin: 0;
  padding: 0px;
  padding-left: 21px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}
.site-navigation-list a {
  display: block;
  margin: 0;
  padding-right: 30px;
  padding-left: 31px;
  padding-top: 20px;
  padding-bottom: 18px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.site-navigation-list a:hover,
.site-navigation-list a:focus {
  background-color: #293449;
}
.site-navigation-list a:active {
  background-color: #1d2739;
}
.features {
  margin-bottom: 33px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-promo {
  position: relative;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #413935;
  order: -1;
}
.slider-promo .slide-1,
.slider-promo .slide-2 {
  width: 620px;
  height: 266px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.slider-promo .slide-1 {
  z-index: 3;
  background-image: url("../img/slide-1.jpg");
}
.slider-promo .slide-2 {
  z-index: 5;
  background-image: url("../img/slide-2.jpg");
}
.slide-1::before,
.slide-2::before {
  content: "";
  position: absolute;
  top: 220px;
  left: 295px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 5px;
}
.slide-1::after,
.slide-2::after {
  content: "";
  position: absolute;
  top: 220px;
  left: 315px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 5px;
}
.slide-1::before,
.slide-2::after {
  background-color: #ee3643;
}
.slider-promo h3 {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.slider-promo p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  padding-left: 24px;
}
.slider-promo-manage {
  position: relative;
  z-index: 10;
}
.slider-promo-manage::before {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  background: url("../img/icon-left.svg")
}
.slider-promo-manage::after {
  content: "";
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  background: url("../img/icon-right.svg")
}
.slider-promo-manage a {
  position: absolute;
  margin: 0;
  padding-right: 45px;
  padding-left: 50px;
  top: 206px;
  left: 25px;
  border-radius: 2px;
}
.features-item {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}
.features-item::after{
  content: "";
  position: absolute;
}
.features-list li:nth-of-type(2){
  order: -4;
}
.features-list li:nth-of-type(3){
  order: -4;
}
.features-list li:nth-of-type(4){
  order: -4;
  margin-right: 0;
}
.features-list li:nth-of-type(5){
  margin-right: 0;
}
.features-list li:nth-of-type(6){
  margin-top: -143px;
  margin-left: 640px;
}
.features-list li:nth-of-type(3n+6){
  margin-right: 0;
}
.materials {
  background-color: #ffbf47;
}
.materials::after {
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background: url("../img/icon-1.svg");
}
.tools {
  background-color: #3bbce3;
}
.tools::after {
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background: url("../img/icon-2.svg");
}
.devices {
  background-color: #dc91d8;
}
.devices::after {
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background: url("../img/icon-3.svg");
}
.discounts {
  background-color: #8ed78f;
}
.discounts::after {
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background: url("../img/icon-4.svg");
}
.delivery {
  background-color: #ffc047;
}
.delivery::after {
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background: url("../img/icon-5.svg");
}
.features-item h3 {
  margin: 0;
  padding: 21px 22px;
  padding-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}
.features-item a {
  display: block;
  width: 115px;
  margin: 0;
  margin-left: 25px;
  margin-bottom: 22px;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
}
.devices a,
.discounts a,
.delivery a {
  margin-left: 23px;
}
.features-item a:hover,
.features-item a:focus {
  background-color: rgba(0, 0, 0, 0.2)
}
.features-item a:active {
  background-color: rgba(0, 0, 0, 0.3)
}
.flag-new {
  position: relative;
}
.flag-new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  background-image: url("../img/flag-new.png");
  top: 0px;
  right: 0px;
}
.popular-tools-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  background-color: #f9f5f0;
  padding-bottom: 29px;
  padding-top: 25px;
  padding-right: 24px;
  padding-left: 27px;
}
.popular-tools-title h2 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}
.popular-tools-title a {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 8px;
}
.popular-tools-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.tools-item {
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
  position: relative;
}
.popular-tools-list .tools-item:nth-child(4n) {
  margin-right: 0px;
}
.punchers-list .tools-item:nth-child(3n) {
  margin-right: 0px;
}
.tools-item:hover,
.tools-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5)
}
.tools-item img {
  max-width: 100%;
  heifht: auto;
  margin-bottom: 4px;
}
.tools-item-options {
  position: absolute;
  top: 0px;
  height: 0px;
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}
.tools-item:hover .tools-item-options,
.tools-item:focus .tools-item-options {
  display: block;
}
.tools-item h3 {
  margin: 0;
  padding: 0 30px;
  padding-bottom: 12px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.button-buy {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}
.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}
.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425c;
}
.button-bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}
.old-price-placeholder {
  min-height: 28px;
}
.tools-item p {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  padding-left: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
}
.tools-item .new-price{
  position: relative;
  width: 130px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  margin-left: 43px;
  padding: 10px 0;
  padding-left: 35px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;

}
.new-price::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 19px solid white;
  border-left: 19px solid #ee3643;
  right: -28px;
  top: 0;
}
.brands {
  margin-bottom: 65px;
}
.brands-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  background-color: #f9f5f0;
  padding-bottom: 29px;
  padding-top: 27px;
  padding-right: 24px;
  padding-left: 24px;
}
.brands-title h2 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}
.brands-title a {
  padding-left: 67px;
  padding-right: 70px;
  padding-bottom: 8px;
}
.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.brands-item {
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
  min-height: 145px;
}
.brands-item:nth-child(4n) {
  margin-right: 0;
}
.brands-item:hover,
.brands-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.brands-item a {
  display: block;
  margin: -2px 0;
  padding: 0;
}
.brands-item:active a {
  opacity: 0.3;
}
.services {
  background-color: #f4f8f9;
  padding-top: 60px;
  padding-bottom: 54px;
}
.services .container {
  width: 950px;
  padding-right: 0px;
}
.services h2 {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
p.services-tagline {
  width: 400px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.services-slider {
  position: relative;
  min-height: 274px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.services-slider-item {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}
.delivery-slider {
  z-index: 5;
}
.guarantee-slider {
  z-index: 4;
}
.credit-slider {
  z-index: 3;
}
.service-slide-wrap {
  display: flex;
}
.delivery-slider .services-description {
  background-image: url("../img/delivery.png");
  background-position: 150px 67px;
}
.guarantee-slider .services-description {
  background-image: url("../img/guarantee.png");
  background-position: 239px 45px;
}
.credit-slider .services-description {
  background-image: url("../img/credit.png");
  background-position: 165px 43px;
}
.services-list {
  position: relative;
  margin: 0;
  margin-right: 80px;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 48px;
  width: 240px;
  list-style: none;
}
.services-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
  right: 0px;
  top: -5px;
}
.services-list li {
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
}
.services-list .current {
  color: #32425c;
  background-color: #ffffff;
}
.services-slider-item .services-description {
  flex-basis: 630px;
  padding-top: 43px;
  background-repeat: no-repeat;
}
.services-description a {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.services-description .button {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 44px;
}
.services-description h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}
.services-description p {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
.wrapper-company-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 79px;
  padding-bottom: 95px;
}
.company {
  width: 540px;
}
.company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 400;
}
.company p,
.contacts p {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-top: 1px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
.delivery-company {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 26px;
}
.delivery-company li {
  position: relative;
  padding-bottom: 20px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
}
.delivery-company li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 8px;
  left: 0px;
}
.company a {
  padding: 10px 40px;
}
.contacts {
  width: 300px;
}
.contacts p {
  margin-bottom: 33px;

}
.contacts .map {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.contacts .red-button {
  padding-left: 64px;
  padding-right: 59px;
}
.footer-top {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}
.footer-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 48px;
}
.footer-address-wrapper {
  width: 330px;
}
.logo-bottom {

  display: block;
padding: 15px 41px;
padding-top: 19px;
margin: 0px;
text-transform: uppercase;

margin-right: 110px;
font-size: 30px;
line-height: 30px;

}
.footer-address-wrapper p {
  margin: 0;
  padding: 0px;
  padding-left: 2px;
  padding-top: 33px;
}
.footer-navigation {
  width: 610px;
}
.footer-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer-navigation-list a {
  display: block;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 59px;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}
.footer-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}
.footer-navigation-item:nth-child(n+6) a {
  color: #ffd180;
}
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 22px;
  padding-bottom: 31px;
}
.footer-bottom p:first-of-type {
  width: 230px;
  margin-right: 160px;
}
.footer-social {
  width: 150px;
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  margin-right: 100px;
}
.footer-bottom a {
  margin: 0;
  padding: 0;
  color: #ffd180;
}
.social-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #212a3a;
}
.social-item:hover,
.social-item:focus,
.social-item:active {
  background-color: #ee3643;
}
.footer-bottom p:nth-last-of-type(2) {
  width: 160px;
  margin-right: 29px;
}
.footer-bottom p:last-of-type {
  width: 105px;
}
.feedback:hover,
.feedback:focus,
.developed:hover,
.developed:focus {
  text-decoration: underline;
}
.feedback:active,
.developed:active {
  text-decoration: none;
  color: #ee3643;
}
.modal-write-us {
  font-size: 18px;
  line-height: 18px;
  background-color: #ffffff;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.75)
}
.modal-write-us input,
.modal-write-us textarea {
  font-size:13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}
.modal-map-popup{
  box-shadow: 0px 0px 16px 8px rgba(47, 42, 43, 0.5)
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.inner-main {
  font-family: "PT Sans", Arial, sans-serif;
}
.breadcrumbs a {
  font-size: 13px;
  color: #000000;
}
.page-title {
  padding: 30px;
  margin: 0px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  font-family: "Cuprum", Arial, sans-serif;
}
.inner-main-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.filter {
  width: 220px;
}
.filter h3 {
  font-size: 13px;
  background-color: #f7f3ec;
}
.filter fieldset {
  border: none;
}
.filter hr {
  color: #818181;
  opacity: 0.35;
}
.filter-price input {
  background-color: #f7f3ec;
}
.filter legend {
  line-height: 30px;
  font-weight: bold;
}
.filter-list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.punchers {
  width: 700px;
}
.sorting {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f7f3ec;
}
.sorting li {
    width: 140px;
    margin-right: 20px;
}
.sorting li:first-child {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.sorting .markers {
  width: 60px;
}
.sorting a {
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}
.sorting a:hover {
  color: #000000;
}
.sorting .current-sorting {
  color: #ee3643;
  border: none;
}
.sorting .triangle {
  font-size: 0px;
  line-height: 0px;
  display: block;
  width: 0px;
  height: 0px;
  border-top: 10px solid #231f20;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: none
}
.sorting .current-triangle {
  border-top: none;
  border-bottom: 10px solid #ee3643;
}
.punchers-list{
  list-style: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.pagination-item {
  margin-right: 10px;
}
.pagination-item a {
  font-size: 13px;
  color: #000000;
  border: 1px solid #e5e5e5;
}
.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}
.pagination-item a:active {
  border-color: #ee3643;
}
.pagination-item-current a {
  background-color: #ee3643;
  border: none;
}
.about-punchers {
  background-color: #f2f6f8;
  padding-top: 63px;
  padding-bottom: 73px;
}
.about-punchers h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}
.about-punchers p {
  font-size: 13px;
  line-height: 24px;
}
.modal-bucket {
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 20px 0px 40px rgba(41, 52, 73, 0.75)
}
.modal-bucket p {
  font-size: 30px;
  line-height: 30px;
}
.modal-bottom {
  background-color: #f1f1f1;
}
.button-modal-continue {
  color: #000000;
  background-color: #ffffff;
}
